
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div><h1>Titan Underwater Robotics AUV</h1></div>
    <div><h2>About us</h2></div>
    <div><p>At the Titan Underwater Robotics Club, our mission is to unite 
        curious minds passionate about underwater robotics. 
        Whether you're a seasoned builder or just starting to explore the field, 
        we welcome your ideas and invite you to dive deep into discovery, collaboration, 
        and innovation. This club is all about:</p></div>
    <ul>
        <li>Building collaborative underwater robotics projects</li>
        <li>Exploring cutting-edge technologies and engineering principles</li>
        <li>Sharing knowledge, resources, and expertise in AUV development</li>
        <li>Engaging in real-world applications, competitions, and research opportunities.</li>
    </ul>
</body>
</html>
